<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!--<add name="PI" connectionString="Data Source=10.3.2.245;Initial Catalog=PortalInteroperabilidad;User ID=pi;Password=pi" providerName="System.Data.SqlClient" />-->
  <!--<add name="PI" connectionString="Data Source=etramvs;Initial Catalog=PortalInteroperabilidad;User ID=pi;Password=pi" providerName="System.Data.SqlClient" />-->
</connectionStrings>
